### IntelliJ IDEA ###
out/
.idea/
*.iml

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore build files
/target/
/build/

# Ignore Java class files
*.class

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Ignore directories or files specific to your environment
*.log
*.out

